<header>
	<sq-main-bar></sq-main-bar>
	<sq-secondary-menu>
	</sq-secondary-menu>
	<sq-sidebar-menu-scroll></sq-sidebar-menu-scroll>
</header>
<div class="section-primary-container">
	<div class="container">
		<div class="sections-distributed">
			<div class="row">
				<div class="col-md-12 mx-auto">
					<div class="pulse-small-card-container">
						<div class="row">
							<div class="col-md-3 col-12">
								<sq-card-shared textTooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit" title="Card 1">
								</sq-card-shared>
							</div>
							<div class="col-md-3 col-12">
								<sq-card-shared textTooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit" title="Card 2">
								</sq-card-shared>
							</div>
							<div class="col-md-3 col-12">
								<sq-card-shared textTooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit " title="Card 3">
								</sq-card-shared>
							</div>
							<div class="col-md-3 col-12">
								<sq-card-shared textTooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit" title="Card 4">
								</sq-card-shared>
							</div>
						</div>
					</div>
					<br><br><br><br>
					<sq-card-shared [extraClasses]="{'interaction-card ': true}" textTooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
						title="Ejemplo">
						<div class="stacked-graph" *ngIf="showGraph">
							<sq-graph-bar-stacked-shared id="graph-type-1" [cornerRoundedTablet]="4"
								titleTooltip="Text" [cornerRounded1200]="cornerRounded1200"
								[cornerRounded1024]="cornerRounded1024" [cornerRoundedTablet]="cornerRoundedTablet"
								[cornerRoundedMobile]="cornerRoundedMobile" [tickPaddingX1200]="25"
								[tickPaddingX1024]="25" [tickPaddingXTablet]="25" [tickPaddingXMobile]="25"
								[paddingInner]="paddingForBars"></sq-graph-bar-stacked-shared>
						</div>

					</sq-card-shared>
					<br><br><br><br>

					<!--Geolocalization-->
					<div class="row squint-geolocalization">
						<div class="col-lg-8">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="table-chart-content countries">
										<sq-ranking-table-shared title="Fans by Country" paginationLabel="countries"
											[data]="rankingCountries" [selectedRow]="selectedCountry"
											(rankingOnSelectRow)="rankingOnSelectRow($event)"
											(rankingOnChangePage)="onChangePage($event)">
										</sq-ranking-table-shared>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="table-chart-content cities">
										<sq-ranking-table-shared title="Fans by City" paginationLabel="cities"
											[activeRow]="false" [data]="rankingCities" [classname]="'table-grey'"
											(rankingOnSelectRow)="rankingCityOnSelectRow($event)">
										</sq-ranking-table-shared>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<sq-chart-map-shared #squintWorldMap id="squintWorldMap"
								[countriesActives]="rankingCountries" [statesActives]="rankingCities"
								(chartMapOnClickCountry)="chartMapOnClickCountry($event)">
							</sq-chart-map-shared>
						</div>
					</div>
					<br><br><br><br>


					<!--Form-->
					<div class="row bg-white">
						<div class="col-lg-12">
							<h3>Formulario</h3>
							<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
								<div class="form_div">
									<input id="email" type="email" class="form_input col-md-6" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': bSubmitted && fp.email.errors }">
									<label class="form_label" for="email">
										Correo electrónico
									</label>
									<div class="invalid-feedback" *ngIf="bSubmitted && fp.email.errors">
										<span *ngIf="fp.email.errors.required">Correo electrónico es requerido.</span>
									</div>
								</div>
								<br>

								<button class="btn btn-primary" type="submit">Submit</button>
							</form>
						</div>
					</div>

					<br><br><br><br>
					<br><br><br><br>
					<br><br><br><br>


				</div>
			</div>
		</div>
	</div>

</div>
